/*  Font
    ===================================================================== */
// English Font
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format("opentype");
}

html,
body,
.v-application .v-application--wrap {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
}

.user_layout {
  .container {
    padding: 0;
  }

  .section {
    max-width: 1000px;
  }
}

/*  Color 기본 
    ===================================================================== */
// Appbar First name Color
$gray-color: #bdbdbd;

.gray--text {
  color: $gray-color;
}

// hieght 100 vh
.mx-height {
  height: 100%;
}

// accessibility hidden
.hidden {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/*  Nav Style
    ===================================================================== */
.appbar_wrap {
  .v-toolbar__content {
    max-width: 1000px;
    width: 100%;
    padding: 0 3em;
  }

  .v-toolbar__title {
    font-size: 1em;
  }

  .v-toolbar__content {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

/*  섹션 안 컨텐츠 공통
    ===================================================================== */
.user_layout .content_wrap,
.v-footer.user_footer {
  width: 100%;
  max-width: 1000px;
  padding: 7em 3em 0;
}

// title 공통 스타일
.section .content_wrap h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-family: "Allerta Stencil", "Noto Sans KR", sans-serif;
}

.lie_text {
  font-weight: bold;
  font-size: 3em;
  writing-mode: vertical-rl;
}

// mobile none
@media (max-width: 320px) {
  .m_none {
    display: none;
  }
}

/*  Content Style
    ===================================================================== */
// main image
.main_img {
  height: 70vh;
}

.content_page_main {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  line-height: 1;

  .greeting {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    padding: 3em;
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-family: "Allerta Stencil", "Noto Sans KR", sans-serif;

    h2 {
      font-size: 4em;
    }

    .info_text {
      font-size: 3.8em;
    }

    .skill_text {
      font-size: 2em;
      line-height: 1.25;
    }
  }

  &:after {
    content: "";
    background-image: url("https://images.unsplash.com/photo-1575866205813-76f62bf5120b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(0.9);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

// profile
.content_page1 {
  $delimiter: balck;

  .profile_carousel {
    color: red;
  }
}

// skill
.content_page2 {
  h2 {
    margin-top: -30px;
    position: relative;
  }

  .skill_wrap {
    .skill_text {
      h3 {
        font-size: 2.5em;
      }
    }

    .skill_list .v-list-item__content {
      flex: 0 1 auto;
    }
  }
}

// portfolio
.portfolio_wrap .content_page3 {
  h2 {
    width: 100%;
  }

  // 2018-2019 포트폴리오 v-card
  .version1 {
    .github_icon {
      position: absolute;
      right: 10px;
      top: 10px;

      &:after {
        content: "";
        width: 30px;
        height: 30px;
        display: flex;
        background: url("https://api.iconify.design/mdi:github.svg?color=%23fff")
          no-repeat center center / contain;
        box-shadow: none;
      }
    }
  }
}

// footer
.v-footer.user_footer {
  margin: 0 auto;

  .footer_wrap {
    border-top: 5px solid #000;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .footer_title {
    font-size: 1.25rem;
    font-weight: 700;
  }
}
