// Font
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');

}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

html,
body,
.v-application .v-application--wrap {
    font-family: 'Noto Sans KR', sans-serif;
}

.user_layout .container {
    padding-top: 0;
    padding-bottom: 0;
}


// content main page
.content_page_main {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    &:after {
        content: '';
        background-image: url("https://images.unsplash.com/photo-1598006844670-d8ef9bd2eed2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        filter: brightness(0.5);
    }

    .greeting {
        font-size: 40px;
        font-weight: 500;
        position: relative;
        z-index: 1;
    }
}

.bg-color1 {
    // 베이지
    background-color: #cfc0af;
}

.bg-color2 {
    // 청록
    background-color: #2a312d;
}

.bg-color3 {
    // 샌드
    background-color: #be9566;
}

// hieght 100 vh
.mx-height {
    min-height: 100vh;
}

// accessibility hidden
.hidden {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.appbar_wrap {
    .v-toolbar__title {
        font-size: 1rem;
    }

    .v-toolbar__content {
        display: flex;
        justify-content: space-between;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 700;
    }
}

// 섹션 안 컨텐츠 테두리 스타일
.content_wrap {
    width: 1000px;
    padding: 2em;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, .5);
}

// 첫번째 컨텐츠 title style
.content_page1 h2 {
    font-size: 40px;
    margin-bottom: 40px;
}


// 컨텐츠 ===========================================================

// skill
.skill_wrap .html {
    width: 50px;
    height: 50px;
    background-image: url(/static/images/skill_icon.png);
}

// portfolio
.portfolio_wrap {
    .v-card--reveal {
        align-items: center;
        bottom: 0;
        justify-content: center;
        opacity: .5;
        position: absolute;
        width: 100%;
    }
}